.top-bar-container {
  width: 100%;
  height: 100%;
  background-color: $color-primary;
  border-bottom: 1px solid $color-blue;
  grid-area: top-bar;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .fa-bars {
    font-size: 2.5rem;
    color: #ffffff;
    margin-left: 2rem;
    cursor: pointer;
  }
}
