.new-certificate-container {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .new-certificate-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .new-certificate-item-title {
      font-weight: 700;
    }

    .new-certificate-item-value {
      font-weight: 400;
    }
  }
}
