.slider-container {
  h2 {
    font-size: 3.2rem;
    color: #FFF;
    font-weight: 400;
  }
}

.slider-input  {
  width: 100%;
  padding-top: 20px;
  padding: 0 40px;
}

.slider-tooltip {
  padding: 10px;
  color: red;
}