@import "variables";
@import "./components/index";
@import "./layout/index";
@import "./auth/index";
@import "./borrower/index";
@import "./saver/index";

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 1.6rem;
  height: 100%;
  margin: 0;
  font-family: $font-primary;
}

#root {
  height: 100vh;
  background: linear-gradient(
    150deg,
    rgba(251, 198, 0, .75) 10%,
    rgba(0, 156, 222, .89) 90%
  );
  height: 100%;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

.root-container {
  display: grid;
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 30rem 1fr;
  grid-template-areas:
    "top-bar top-bar"
    "sidebar content";
  height: 100%;
}

.root-container-no-sidebar {
  display: grid;
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "top-bar"
    "content";
  height: 100%;
}
