@import "variables";
@import "./layout/index";
@import "./auth/index";

html {
  background-color: #fafafa;
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 1.6rem;
  height: 100%;
  margin: 0;
  font-family: $font-primary;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.root-container {
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 30rem 1fr;
  grid-template-areas:
    "top-bar top-bar"
    "sidebar content";
  height: 100%;
}

.root-container-no-sidebar {
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "top-bar"
    "content";
  height: 100%;
}
