.login-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .login-inner-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 85%;

    .login-text {
      width: 100%;
      text-align: center;
      font-size: 3rem;
      font-weight: 400;
    }

    .login-button {
      margin-top: 3rem;
      width: 100%;
      cursor: pointer;
    }
  }

  .register-button {
    margin-top: 3rem;
    width: 100%;
    cursor: pointer;
  }
}
